@import '../styles/config/config.scss';

footer {
    margin-top: 30px;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .details {
        @include montserrat;
        font-size: 12px;
        max-width: 250px;
    }
    .social {
        img {
            margin-left: 10px;
        }
    }
}