@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Poppins:wght@200;400;500;600&display=swap');

@mixin montserrat($weight) {
    font-family: 'Montserrat', sans-serif;
    @include weight($weight);
}
    
@mixin poppins($weight) {
    font-family: 'Poppins', sans-serif;
     @include weight($weight);
}


@mixin weight($weight) {
     @if $weight == thin {
        font-weight: 200;
    } @else if $weight == regular {
        font-weight: 400;
    } @else if $weight == medium {
        font-weight: 500;
    } @else if $weight == bold {
        font-weight: 600;
    }
}


@mixin  font-size($size) {
    font-size: $size;
}