@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@100;600&display=swap');

@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
}
    
@mixin poppins {
    font-family: 'Poppins', sans-serif;
}

@mixin extrLight_font {
    font-weight: 200;
}

@mixin light_font {
    font-weight: 300;
}

@mixin regular_font {
    font-weight: 400;
}

@mixin medium_font {
    font-weight: 500;
}

@mixin semiBold_font {
    font-weight: 600;
}

@mixin bold_font {
    font-weight: 700;
}
    