@import '../../../styles/config/adaptive.scss';
@import '../../../styles/config/fonts.scss';
@import '../../../styles/config/vars.scss';


.schedule {
    box-sizing:border-box;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-setup {
        text-align: center;
        h3 {
            @include montserrat(bold);
            font-size: 20px;
            margin-bottom: 10px;
            color: $pink_dark;
        }
        .calendar {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                margin-left: 5px;
            }
        }
    }

    &-container {
        position: relative;
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .arrow-back {
            position: absolute;
            bottom: 15px;
            right: 5px;
        }
        &__item {
           position: relative;
           width: 75%;
           height: 400px;
           border-radius: 15px;
           margin-top: 25px;
           overflow: hidden;
            img {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
                width: 100%;
                height: 100%;      
            }
            &:hover {
                    .hovered-content {
                        display: flex;
                    }
                }
            .hovered-content {
                display: none;
                
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.7); 
                .btn-tickets {
                    padding: 15px 40px;
                    color: #fff;
                    background: #AAA4A4;
                    border-radius: 19.7884px;
                    border: none;
                    font-size: 18px;
                }
                .more-info {
                    color: #fff;
                    margin-top: 10px;
                    font-size: 14px;
                    cursor: pointer;
                }
                .hovered-times {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.2);
                    .hovered-time {
                        padding: 5px;
                        font-size: 14px;
                        color: white;
                        border-radius: 19.7884px;
                        border: none;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}